body{
	color:blue;
	background-color:black;
}


#wrapper{
	width:1000px;
	margin:0 auto;
	background-color:white;
}

#header{
	height:75px;
	text-align:left;
	color: #00356b;
	background-color:white;
	font-size: 40px;
	font-family: Times New Roman;
}

#address{
	height:125px;
	color: #00356b;
	background-color:white;
	font-size: 20px;
}


.topnav {
  background-color:#00356b;
  overflow: hidden;
	color: white
}

.topnav a {
  float: left;
  color: #white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
	font-family: Times New Roman;
}

.topnav a.active {
  background-color: #f8fff0;
  color: black;
}

#headline1{
	float:left;
	width:690px;
	height: 100px;
	background-color:#f8fff0;
	color: #00356b;
	font-family: Times New Roman;
	font-size:30px;
	padding:5px;
}

#rightbody{
	float:right;
	width:290px;
	height:800px;
	background-color:#00356b;
	padding:5px;
	font-family: Times New Roman;
	font-size:20px;
	color: white;
	text-align: center;
}

.maincontent1{
	float: left;
	width:340px;
	height:350px;
	background-color: white;
	color:black
	font-family: Times New Roman;
	font-size:12px;
	padding:5px;
}
#content1{
	align:center;
}

.maincontent2{
	float: left;
	width:340px;
	height:350px;
	background-color: white;
	color:black
	font-family: Times New Roman;
	font-size:12px;
	padding:5px;
}
#content2{
	align:center;
}

#headline2{
	float:left;
	width:690px;
	height: 100px;
	background-color:#f8fff0;
	color: #00356b;
	font-family: Times New Roman;
	font-size:30px;
	padding:5px;
}
.maincontent3{
	float: left;
	width:340px;
	height:350px;
	background-color: white;
	color:black
	font-family: Times New Roman;
	font-size:12px;
	padding:5px;
}
#image2{
	align:center;
}

.maincontent4{
	float: left;
	width:340px;
	height:350px;
	background-color: white;
	color:black
	font-family: Times New Roman;
	font-size:12px;
	padding:5px;
}

#bottom{
	background-color:#00356b;
	color: white;
	text-align:center;
	height:90px;
	clear:both;
	font-family: Times New Roman;
	font-size: 15px;
}
